$pillGray :#d4d4d4;
$pillTextGray :#888;
$whiteColor : #fff;
$blackColor : #000;
$primaryColor:#015077;
$secondaryColor:#029be0;
$blackBackground:#333;
$borderRadius : 0.25rem;
$pillSecondaryColor:#f1f9fc;